body {
    font-family: $mainFont;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.btn {
    background: $fontColorMain;
    border-radius: 40px;
    border: 2px solid $fontColorMain;
    color: $fontColorWhite;
    cursor: pointer;
    outline: none;
}

.title-style {
    text-align: center;
    color: $fontColorWhite;
    font-weight: bold;
}