    .navigation__item-new {
        position: absolute;
        top: 108px;
        left: 5%;
        right: 5%;
        display: none;
        margin: 0 auto;
        width: 100%;
    }
    
    .navigation-ground {
        display: block;
        width: 90%;
        padding-top: 14px;
        padding-bottom: 14px;
        background: #333333;
        border-bottom: 1px solid #3B3B3B;
        border-top: 1px solid #3B3B3B;
    }
    
    .navigation-item__link-new {
        display: block;
        width: 90%;
        background: #333333;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 10.5%;
        font-size: 26px;
        color: $fontColorWhite;
        box-sizing: border-box;
        text-decoration: none;
        border-left: 8px solid rgba(0, 0, 0, 0);
    }
    
    .navigation-item__link-new:focus {
        color: #8D81AC;
        border-left: 8px solid #8D81AC;
        border: 50%;
    }
    
    .btn-close {
        color: $fontColorWhite;
        font-size: 28px;
        position: absolute;
        font-weight: 500;
        display: grid;
        grid-template-columns: 1fr;
        align-self: center;
        justify-self: end;
        padding: 20px;
        display: none;
    }