.navigation__item {
    display: none;
}

.logo__text {
    display: none;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 34px 16px 32px;
}

.navigation__logo {
    grid-column-start: 1;
    grid-column-end: 1;
}

.btn-navigation {
    width: 100%;
    font-size: 15px;
    padding: 11px 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
}

.btn-navigation-small {
    display: block;
    grid-column-start: 4;
    grid-column-end: 4;
    align-self: center;
    justify-self: end;
}

.title-style {
    &-fork {
        font-size: 48px;
        margin-top: 50px;
    }
    &-development {
        font-size: 18px;
        margin-top: 19px;
    }
    &-for {
        font-size: 14px;
        margin-top: 14px;
    }
}

.header-title {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 394px;
}

.btn-download {
    padding: 13px 29px;
    font-size: 18px;
}