    .header-background {
        background-color: rgba(0, 0, 0, 1);
    }
    
    .header-title {
        background: url("../../dist/img/header-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 5px;
        padding-bottom: 426px;
    }
    
    .navigation {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding-top: 30px;
        position: relative;
    }
    
    .navigation__logo {
        grid-column-start: 1;
        grid-column-end: 1;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    
    .logo__sing {
        background-image: url("../../dist/img/LogoSing.png");
        width: 43px;
        height: 43px;
    }
    
    .logo__text {
        font-family: $twoFont;
        font-size: 16px;
        color: $fontColorMain;
        font-weight: $fontWight;
        text-transform: uppercase;
        margin-left: 17px;
    }
    
    .navigation__item {
        grid-column-start: 3;
        grid-column-end: 7;
        display: flex;
        align-self: center;
        justify-self: end;
    }
    
    .navigation-item__link {
        color: $fontColorMain;
        text-decoration: none;
        margin: 24px;
        font-size: 16px;
        font-weight: bold;
    }
    
    .btn-navigation {
        grid-column-start: 7;
        grid-column-end: 8;
        justify-self: end;
        width: 145px;
    }
    
    .title-style {
        &-fork {
            font-size: 82px;
            margin-top: 120px;
        }
        &-development {
            font-size: 30px;
            color: $fontColorMain;
            margin-top: 19px;
        }
        &-for {
            font-size: 16px;
            color: $fontColorGrey;
            margin-top: 19px;
            text-transform: uppercase;
        }
    }
    
    .btn {
        &-navigation {
            font-weight: bold;
            font-size: 16px;
            padding: 8px 36px;
        }
        &-download {
            font-size: 21px;
            font-weight: bold;
            padding: 23px 61px;
        }
    }
    
    .download-block {
        text-align: center;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 1) 35%);
    }
    
    .download__alert {
        font-size: 14px;
        margin-top: 19px;
        color: #848E97;
    }
    
    .navigation__logo:hover .logo__sing {
        background-image: url("../../dist/img/logoSingWhite.png");
    }
    
    .navigation__logo:hover .logo__text {
        color: $fontColorWhite;
    }
    
    .navigation-item__link:hover {
        color: $fontColorWhite;
    }
    
    .btn {
        &-navigation:hover {
            background-color: $fontColorWhite;
            color: $fontColorMain;
        }
        &-download:hover {
            background-color: $fontColorWhite;
            color: $fontColorMain;
        }
    }
    
    .btn-navigation-small {
        width: 26px;
        height: 3px;
        background-color: $fontColorWhite;
        border-radius: 5px;
        display: none;
    }
    
    .btn-navigation-small::before {
        content: '';
        display: block;
        position: relative;
        top: 6px;
        width: 26px;
        height: 3px;
        background-color: $fontColorWhite;
        border-radius: 5px;
    }
    
    .btn-navigation-small::after {
        content: '';
        display: block;
        position: relative;
        bottom: 9px;
        width: 15px;
        height: 3px;
        background-color: $fontColorWhite;
        border-radius: 5px;
    }