.navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 23px;
    padding: 24px 20px 18px;
    background-color: #27262A;
}

.navigation__logo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.navigation__item {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
}

.btn-navigation {
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: end;
    width: 145px;
}

.title-style {
    &-fork {
        font-size: 72px;
        margin-top: 68px;
    }
    &-development {
        font-size: 24px;
    }
    &-for {
        font-size: 14px;
    }
}

.header-title {
    padding-bottom: 439px;
}