@media screen and (max-width: 992px) {
    .navigation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 23px;
        padding: 24px 20px 18px;
        background-color: #27262A;
    }
    .navigation__logo {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .navigation__item {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        align-self: center;
        justify-self: center;
    }
    .btn-navigation {
        grid-column-start: 2;
        grid-column-end: 2;
        justify-self: end;
        width: 145px;
    }
    .title-style {
        &-fork {
            font-size: 72px;
            margin-top: 68px;
        }
        &-development {
            font-size: 24px;
        }
        &-for {
            font-size: 14px;
        }
    }
    .header-title {
        padding-bottom: 439px;
    }
    // revolution block
    .revolutionary-block__title {
        /* font-family: Montserrat; */
        color: rgba(99, 92, 115, 1);
        font-weight: bold;
        font-size: 26px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
    }
    .revolutionary-block__text {
        /* font-family: Lato; */
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #313131;
        padding: 0 20px;
    }
    .revolutionary-btn {
        display: grid;
        grid-template-areas: "eye star fork";
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-template-rows: 1fr;
        padding: 0;
        margin: 0 12px 120px;
        grid-gap: 10px;
    }
    .eye {
        grid-area: eye;
        justify-self: end;
    }
    .star {
        grid-area: star;
        justify-self: center;
    }
    .fork {
        grid-area: fork;
        justify-self: start;
    }
    .revolutionary-btn__item {
        display: flex;
    }
    .revolutionary-link {
        display: inline-block;
        border: 1px solid;
        border-radius: 6px;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        appearance: none;
        color: rgba(36, 41, 46, 1);
        background-color: rgba(250, 251, 252, 1);
        border-color: rgba(27, 31, 35, 0.15);
        box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
        box-sizing: border-box;
        list-style: none;
        padding: 3px 12px;
        font-size: 12px;
        line-height: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 14px;
    }
    .revolutionary-btn__number {
        vertical-align: text-top;
    }
    .revolutionary-svg {
        position: relative;
        top: 3px;
    }
    .revolutionary-btn__number {
        display: inline-block;
        border: 1px solid;
        border-left: 0;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        appearance: none;
        color: rgba(36, 41, 46, 1);
        background-color: white;
        border-color: rgba(27, 31, 35, 0.15);
        box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
        box-sizing: border-box;
        padding: 3px 12px;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    // diginity block
    .dignity-block__title {
        /* font-family: Montserrat; */
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #8D81AC;
        padding: 0 40px;
        margin-bottom: 36px;
    }
    .proposition-block {
        display: flex;
    }
    .proposition-block__img {
        margin: 0 auto 27px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 119px;
        height: 70px;
    }
    .powerfull {
        background-image: url('../img/powerfull-icon.png');
    }
    .speed {
        background-image: url('../img/speed-icon.png');
    }
    .stuff {
        background-image: url('../img/stuff-icon.png');
    }
    .webbet {
        background-image: url('../img/webbet-icon.png');
    }
    .present {
        width: 100%;
        height: 381px;
        background-image: url(../img/appletool.png);
        background-position: right;
        margin: 0;
        background-size: contain;
    }
    .proposition-block__title {
        /* font-family: Montserrat; */
        display: block;
        margin: 0 auto;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #323232;
        margin-bottom: 14px;
    }
    .proposition-block__text {
        /* font-family: Lato; */
        display: block;
        margin: 0 auto;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #848E97;
        padding: 0 28px;
        margin-bottom: 40px;
    }
    // people block
    .people-block__reviews {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 87px;
        grid-row-gap: 62px;
    }
    .title-people {
        font-size: 42px;
    }
    .people-block__total {
        padding: 67px 28px 25px;
    }
    // subscribBlock
    .section-title {
        text-align: center;
        /* font-family: Montserrat; */
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        color: white;
    }
    .subscription-block {
        background-color: rgba(74, 56, 77, 1)
    }
    .price-card__block {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 18px auto;
        background: rgba(255, 255, 255, 0.11);
        width: 257px;
    }
    .price-card__item:first-child {
        display: inline-block;
        width: 100%;
        background: rgba(255, 255, 255, 0.06);
    }
    .subscription__price-card {
        margin: 0 20px;
        padding-bottom: 5px;
        display: grid;
        grid-template-areas: "card card" "card card";
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-gap: 5px;
    }
    .price-card__text-big {
        /* font-family: Montserrat; */
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    .price-card__cost {
        /* font-family: Montserrat; */
        font-size: 60px;
        font-weight: 700;
        line-height: 62px;
        text-align: center;
        color: white;
        margin: 20px 0;
    }
    .price-card__text-medium {
        /* font-family: Montserrat; */
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: white;
    }
    .price-card__text-medium::after {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        background-color: rgba(141, 129, 172, 1);
        margin: 40px auto;
    }
    .price-card__text-little {
        /* font-family: Montserrat; */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        color: white;
    }
    .price-card__btn {
        display: block;
        margin: 37px auto;
        padding: 10px 40px;
        border-radius: 25px;
        border: none;
        box-sizing: border-box;
        /* font-family: Montserrat; */
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.15);
    }
}