.people-block {
    padding-top: 57px;
}

.people-block__reviews {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 45px;
    margin-left: 25px;
    margin-right: 25px;
}

.title-people {
    font-size: 36px;
}

.people-block__total {
    padding: 37px 34px 35px;
}