.people-block {
    padding-top: 85px;
}

.people-block__reviews {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 87px;
    grid-row-gap: 62px;
}

.title-people {
    font-size: 42px;
}

.people-block__total {
    padding: 67px 28px 25px;
}