.people-block {
    background: url("../../dist/img/people-background.png");
    padding-top: 108px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: -20px;
}

.title-people {
    font-size: 48px;
    padding-bottom: 81px;
}

.people-reviews__item {
    align-self: center;
    justify-self: center;
}

.people-reviews__item-sing {
    display: block;
    margin: 0 auto;
}

.people-reviews__item-text {
    font-family: $twoFont;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $fontColorWhite;
    margin-top: 29px;
}

.people-block__reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 97px;
    grid-row-gap: 112px;
}

.people-block__total {
    font-family: $twoFont;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color: #A291A5;
    padding: 118px 171px 25px;
}

.people-block__total:after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background: #645766;
    position: relative;
    top: 18px;
    margin: 0 auto;
}