/*revo*/
.revolutionary {
    padding-bottom: 70px;
}

.section-title {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(99, 92, 115, 1);
    padding: 66px 0 25px 0;
}

.revolutionary-text {
    font-family: Lato;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 0 237px 13px;
}

.revolutionary-btn {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.revolutionary-btn__item {
    display: flex;
    margin: 5px;
    justify-content: center;
}

.revolutionary-link {
    display: flex;
    border: 1px solid;
    border-radius: 6px;
    white-space: nowrap;
    cursor: pointer;
    color: rgba(36, 41, 46, 1);
    background-color: rgb(247, 247, 247);
    border-color: rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27,31,35,0.04), inset 0 1px 0 hsla(0,0%,100%,0.25);
    box-sizing: border-box;
    padding: 3px 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
    text-decoration: none;
}
.revolutionary-btn__number{
    display: inline-block;
    border: 1px solid;
    border-left: 0;
    cursor: pointer;
    color: rgba(36, 41, 46, 1);
    background-color: white;
    border-color: rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27,31,35,0.04), inset 0 1px 0 hsla(0,0%,100%,0.25);
    box-sizing: border-box;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-decoration: none;
}

.revolutionary-btn__title{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;
    font-weight: 700;
    font-size: 14px;
}

/* .revolutionary */