/*revo*/
.revolutionary-text {
    padding: 0 10px 36px;
}
.revolutionary-btn {
    flex-wrap: wrap;
}
.revolutionary-link {
    padding: 2px 6px;
}
.revolutionary-btn__number{
    padding: 1px 5px;
}
.section-title {
    font-size: 32px;
}
/*revo*/