/* sub */

.subscription {
    background-image: url(../img/subscribeBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.subscription__title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    color: white;
    padding: 112px 0 61px 0;
}

.subscription__price-card {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
    flex-wrap: wrap;
}

.price-card__block {
    background-color: rgba(255, 255, 255, 0.11);
    // background-color: #FFFFFF;
    margin: 15px;
    width: 257px;
}

.price-card__text-big {
    background-color: rgba(255, 255, 255, 0.06);
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    // background: #FFFFFF;
    // mix-blend-mode: normal;
    // opacity: 0.06;
}

.price-card__cost {
    font-family: Montserrat, Roboto;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 0 0 20px 0;
}

.price-card__text-medium {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.price-card__text-medium::after {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background-color: rgba(141, 129, 172, 1);
    margin: 40px auto 0;
}

.price-card__text-little {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: white;
    padding: 30px 0 40px;
}

.price-card__btn {
    display: block;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 40px;
    margin: 0 auto;
    border: none;
    box-sizing: border-box;
    padding: 15px 37px;
    margin-bottom: 37px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.scale2x {
    transform: scale(1.1);
    background-color: rgba(70, 48, 72, 0.84);
}

.focus-text {
    background-color: rgba(0, 0, 0, 0.11);
}


/* sub */