/* .youGet */
.youGet {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
}

.youGet-box {
    margin-right: 0;
}

.dis-title {
    display: block;
}

.dis-box {
    display: none;
}

.dis-img {
    display: block;
}

.youGet-box__item {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 1fr;
}
.youGet-right__title {
    text-align: center;
}
/* .youGet */