/* .youGet */
.youGet {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 190px 1fr 381px;
}

.dis-title {
    display: block;
}

.dis-box {
    display: none;
}

.dis-img {
    display: block;
}

.youGet-box {
    margin-right: 0;
}

.youGet-box__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px 0;
}
.youGet-right__title {
    text-align: center;
    font-size: 32px;
    padding: 0 43px;
}
.youGet-box__img {
    margin: 0 0 27px 0;    
}

.first-img {
    padding: 0;
}

.youGet-box__title {
    text-align: center;
    margin: 0 0 14px 0;
}
.youGet-box__text {
    text-align: center;
}
.prev-img {
    background-image: url(../img/getimgprevMin.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}
/* .youGet */