/* .youGet */
.youGet {
    padding-top: 94px;
    background-color: rgba(244, 244, 244, 1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.dis-title {
    display: none;
}

.dis-box {
    display: block;
}

.dis-img {
    display: none;
}

.youGet-box {
    list-style-type: none;
    margin-right: 90px;
}

.youGet-box__item {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 400px;
    align-items: center;
    margin-bottom: 64px;
}

.youGet-box__img {
    display: block;
    margin: 0 auto;
}

.first-img {
    padding-left: 35px;
}

.youGet-box__title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(50, 50, 50, 1);
}

.youGet-box__text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(132, 142, 151, 1);
}

.youGet-right__box {
    list-style-type: none;
}

.prev-img {
    background-image: url(../img/getimgprev.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 210px;
}

.youGet-right__title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
    color: rgba(141, 129, 172, 1);
    margin-bottom: 19px;
}
/* .youGet */